/* >>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>>> Start <<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<  */

/*-----------------------------*/
/* ---------- Fonts ----------- */
/*-----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*-----------------------------*/
/* ------- Generic CSS -------- */
/*-----------------------------*/

$white: white;
$black: black;

$body-font: 'Open Sans', sans-serif;
$font-playfare: 'Playfair Display', serif;
$font-poppins: 'Poppins', sans-serif;

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $body-font;
    font-kerning: none;
    font-size: 25px;
    overflow-x: hidden;
    overscroll-behavior: none;
    background: $white;
    font-weight: 400;
    margin: 0;
    padding: 0;

    &.page-contact {
        .container {
            max-width: 74%;

            @media (max-width: 992px) {
                max-width: 100%;
                padding: 0 20px;
            }
        }

        .container-fluid {
            padding: 0;

            [class^="row"] {
                padding: 0;
                margin: 0;
            }

            [class^="col-"] {
                padding: 0;
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.image-ratio {
    position: relative;
    width: 100%;

    >img,
    >video,
    >iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &--16-9 {
        padding-top: 56.25%;
    }

    &--square {
        padding-top: 100%;
    }

    &--contain {

        >img,
        >video,
        >iframe {
            object-fit: contain;
            object-position: center;
        }
    }
}

/*-----------------------------*/
/* ------ Video Banner -------- */
/*-----------------------------*/

.hero-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    height: 100vh;
    padding: 0 20px;

    @media (max-width: 992px) {
        cursor: default !important;
    }


    @media (max-width: 768px) {
        height: 85vh;
    }

    .video-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        top: 0;
        z-index: 1;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        text-align: center;
        pointer-events: none;
        position: relative;
        margin-bottom: 30vh;
        z-index: 2;


        @media (max-width: 768px) {
            padding: 10px 0;
            margin-bottom: 21vh;
        }

        &--title,
        &--sub-title,
        &--description {
            padding: 14px 0;

            @media (max-width: 389px) {
                padding: 10px 0;
            }
        }

        &--title {
            h1 {
                font-size: 60px;
                font-weight: 500;
                line-height: 1.12;
                color: $white;
                font-family: $font-playfare;
                text-transform: uppercase;
                pointer-events: all;
                width: fit-content;
                margin: 0 auto;

                @media (max-width: 992px) {
                    font-size: 50px;
                }

                @media (max-width: 768px) {
                    font-size: 45px;
                }

                @media (max-width: 389px) {
                    font-size: 40px;
                }
            }
        }

        &--description {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;

            p {
                font-size: 22px;
                text-transform: uppercase;
                pointer-events: all;
                color: $white;

                @media (max-width: 992px) {
                    font-size: 18px;
                }

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }

    &__controls {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        &--each {
            width: 100%;
            max-width: 70px;

            @media (max-width: 768px) {
                max-width: 60px;
                bottom: 65px;
            }
        }
    }

    .scroll__down,
    .play__video {
        display: none;

        svg {
            color: $black;
            width: 100%;
            height: auto;
            cursor: pointer;
        }
    }

    .scroll__down {
        @media (min-width: 992px) {
            display: block;
        }
    }

    .play__video {
        @media (max-width: 992px) {
            display: block;
        }

        .play {
            display: block;
        }

        .pause {
            display: none;
        }

        &.show {
            .play {
                display: none;
            }

            .pause {
                display: block;
            }
        }
    }
}


.design-concept {
    height: 100vh;
    overflow: hidden;

    &__inner {
        &--scroll {
            height: 100vh;
            overflow: hidden;
            display: flex;
            left: 0;
        }
    }

    .concept {
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__each {
            height: 100vh;
            min-width: 100vw;
            overflow-x: hidden;

            .icon-wrapper {
                text-align: center;
            }

            .image-wrapper,
            .image-ratio {
                overflow: hidden;
            }

            .image-ratio {
                img {
                    transition: 4.5s all ease;
                    filter: grayscale(0.4);

                    &:hover {
                        transform: scale(1.1);
                        filter: grayscale(0);
                    }
                }
            }

            &--1 {
                position: relative;
                padding: 60px 50px;
                background: $black;
                color: $white;

                @keyframes slideInFromLeft {
                    0% {
                        opacity: 0;
                        transform: scale(1.1);
                        filter: blur(30px);
                    }

                    100% {
                        opacity: 1;
                        transform: scale(1);
                        filter: blur(0);
                    }
                }

                .image-ratio {
                    animation: slideInFromLeft ease 2s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                .concept__each {
                    &-right {
                        height: 100%;

                        .image-wrapper {
                            height: 100%;
                            display: flex;

                            .image-ratio {
                                padding-top: 156%;
                                margin-top: auto;
                            }
                        }
                    }
                }
            }

            &--2 {
                background: $white;
                color: $black;

                .icon-wrapper {
                    padding: 70px 0;
                }

                .concept__each {
                    &-left {
                        .content-block {
                            .text-wrapper {
                                padding: 20px 30px;
                            }
                        }
                    }

                    &-right {
                        height: 100%;

                        .image-wrapper {
                            height: 100%;
                            display: flex;

                            .image-ratio {
                                padding-top: 150%;
                                margin-top: auto;
                            }
                        }
                    }
                }
            }

            &--3 {
                position: relative;
                background: $black;
                color: $white;

                .icons {
                    padding: 70px 0;
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    .icon-wrapper {
                        &--2 {
                            margin-top: auto;
                            margin-bottom: 17%;
                        }
                    }
                }

                .concept__each {
                    &-left {
                        padding: 40px 0 50px 70px;
                        height: 100%;

                        .content-block {
                            height: 100%;
                            display: flex;
                            flex-direction: column;

                            .text-wrapper {
                                text-align: right;
                                margin-bottom: 3vh;

                                h2 {
                                    font-family: $font-playfare;
                                    font-size: 3.15vw;
                                    font-weight: 400;
                                    text-transform: uppercase;
                                }
                            }

                            .image-wrapper {
                                margin-top: auto;
                            }
                        }
                    }

                    &-right {
                        height: 100%;

                        .image-wrapper {
                            .image-ratio {
                                padding-top: 150%;
                            }
                        }

                        .text-wrapper {
                            margin-top: 3vh;

                            h2 {
                                font-family: $font-playfare;
                                font-size: 3.15vw;
                                font-weight: 400;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

            &-left {
                .content-block {
                    .image-wrapper {
                        position: relative;

                        .image-ratio {
                            padding-top: 66%;
                        }

                        .overlay-text {
                            position: absolute;
                            width: 100%;
                            left: 0;
                            top: 0;
                            text-align: center;
                            padding: 0.8vw 0;

                            h2 {
                                font-family: $font-playfare;
                                font-size: 3.15vw;
                                font-weight: 400;
                                text-transform: uppercase;
                            }
                        }
                    }

                    .text-wrapper {
                        padding: 20px 0;

                        h3 {
                            font-family: $font-poppins;
                            font-size: 2.2vw;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}


.contact-banner {
    position: relative;

    .image-wrapper {
        max-width: 73%;
        z-index: -1;

        @media (max-width: 992px) {
            max-width: 100%;
        }

        .image-ratio {
            padding-top: 64%;
            border-bottom-right-radius: 40px;

            @media (max-width: 768px) {
                padding-top: 67%;
            }

            img {
                width: 0;
                transform: scale(1.5);
            }
        }
    }

    .content-block {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        padding: 140px 0;
        z-index: 9;

        @media (max-width: 1200px) {
            padding: 100px 0;
        }

        @media (max-width: 1200px) {
            padding: 70px 0;
        }

        &__inner {
            max-width: 34.8vw;
            min-width: 34.8vw;
            margin-left: auto;

            @media (max-width: 1200px) {
                max-width: 34.5vw;
                min-width: 34.5vw;
            }

            @media (max-width: 768px) {
                max-width: 100%;
                min-width: 100%;
                text-align: center;
            }

            h1 {
                color: $black;
                font-family: $font-playfare;
                font-size: 4.4vw;
                margin-bottom: 15px;

                @media (max-width: 768px) {
                    font-size: 40px;
                    margin-bottom: 25px;
                }
            }

            p {
                font-size: 1.33vw;
                text-transform: uppercase;
                color: $black;

                @media (max-width: 768px) {
                    font-size: 22px;
                }
            }
        }
    }
}

.contact-details {
    margin-top: 5%;

    @media (max-width: 992px) {
        margin-top: 0;
    }

    .content-wrapper {
        height: 100%;
        padding: 40px 10%;

        @media (max-width: 992px) {
            padding: 60px 10%;
            height: fit-content;
        }

        .contact-details__top {
            margin-bottom: 50px;

            h1 {
                color: $black;
                font-family: $font-playfare;
                font-size: 48px;
                margin-bottom: 15px;
            }

            p {
                font-size: 18px;
                text-transform: uppercase;
                color: $black;
            }
        }

        .contact-details__each {
            &:not(:last-child) {
                margin-bottom: 60px;

                @media (max-width: 576px) {
                    margin-bottom: 48px;
                }
            }

            h5,
            a {
                color: $black;
            }

            h5 {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 8px;

                @media (max-width: 1200px) {
                    font-size: 16px;
                    margin-bottom: 5px;
                }

            }

            a {
                font-size: 20px;

                @media (max-width: 1200px) {
                    font-size: 16px;
                }
            }
        }
    }

    .image-wrapper {
        .image-ratio {
            padding-top: 74%;
            overflow: hidden;

            @media (max-width: 576px) {
                padding-top: 63%;
            }

            img {
                transition: 4.5s all ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}


/* >>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<  */